<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>IA-IOLab</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet">

  <!-- For Media player -->
 <!--  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/> -->
  <link type="text/css" rel="stylesheet" href="static/css/custom.css"  media="screen,projection"/>
<!--   <link type="text/css" rel="stylesheet" href="css/icon.css"  media="screen,projection"/> -->
</head>

<style>


h1{
  font-family: 'Gravitas One', cursive;
}

</style>

<body>

  <h1>FONT </h1>

</body>
